@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Universal style */
* {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;

}


/* Share style */
.display-type {
    display: flex;
}

.text-color-1 {
    color: #252432;
}

.text-color-2 {
    color: rgba(0, 0, 0, 0.5);
}

.text-color-3 {
    color: #000000;
}

.title-color {
    color: #E95A08;
}



/* font-weight */
.font-weight-1 {
    font-weight: 700;
}




/* Header Section Style */

header {
    margin-top: 30px;
}

.header-logo {
    max-width: 8.44rem;
}

.header-logo img {
    width: 100%;
}

.logo-navigation {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    width: auto;
    justify-content: flex-end;
    gap: 48px;


}

.navigation ul li {
    list-style: none;
}

.navigation ul a {
    text-decoration: none;
    font-size: 1rem;
}

/* Hero section border design */

.header-banner {
    height: 461px;
    max-width: 1140px;
    margin: auto;
    margin-top: 70px;
    justify-content: space-between;
    align-items: flex-end;
}

.header-title {
    font-size: 4rem;
    font-weight: 700;
}

.header-title span {
    font-size: 4rem;
    font-weight: 700;
}

.header-title-description p {
    max-width: 50%;
}

.header-image {
    max-width: 50%;
}







/* Body section style  */



/* Footer Section Style */




/* Responsive design for small device */
@media screen and (max-width: 576px) {

    .link {
        display: none;
    }

    .nav-link {
        justify-content: flex-end;
        width: auto;
    }

    .logo-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin: auto;
    }

    .header-banner {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        max-width: 90%;
        margin: auto;
        box-sizing: border-box;
    }

    .header-title-description p {
        max-width: 100%;
    }

    .header-image {
        max-width: 100%;
        margin: auto;
        margin-bottom: 28px;
        margin-top: 28px;
    }

    .header-image img {
        max-width: 100%;
    }
}